<form ng-submit="establishmentDetail.addPosition(establishmentDetail.position)" class="form-inline" method="post" name="establishmentDetail.addPositionForm" >
  <div class="form-group">
    <label class="sr-only" for="positionName">Name</label>
    <input class="form-control" type="text" id="positionName" placeholder="Enter Name" ng-model="establishmentDetail.position.name"/>
  </div>
  <input class="btn btn-primary" type="submit" value="Add Position" />
</form>
