<h1>Profile Detail</h1>

<div class="profile-item">
  <span class="attr-label">Name</span>
  <span class="attr-item"><input type="text" name="profile.name" id="profile.name" ng-model="profile.profile.name"></input></span>
</div>
