<h2>{{establishment.name}}</h2>

<table class="table">
  <thead>
    <tr>
      <th>Position</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="position in establishment.positions">
      <td>{{position.name}}</td>
    </tr>
  </tbody>
</table>
