<h2>Establishment List</h2>


<form>
  <input class="form-control" type="text" ng-model="searchString" ng-change="search()" placeholder="Search..." />
</form>

<div class="col-sm-12">
  <ul>
    <li ng-repeat="establishment in establishments">
      <a ui-sref="establishments.detail({establishmentId: establishment.id})">{{establishment.name}}</a>
    </li>
  </ul>
</div>

